.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background:#ff5600;
}

#footer2 {
    background:#ff0000;
} 
